# Laboratorio 1

# Preparazione del dato: pulizia e integrazione (prova aggiornamento da Binder)

06/03/2024

In questo laboratorio impareremo a trattare dati provenienti da sorgenti diverse, cercando di ottenere informazioni integrate e complete. 
Come esempio, ci concentreremo su dati riguardanti film e serie tv dei maggiori servizi di streaming.

In [ ]:
import pandas as pd

### Carico i dati di Netflix

In [ ]:
netflix_titles = pd.read_csv("netflix_titles.csv")

Diamo un'occhiata a come è organizzato il dataset

In [ ]:
netflix_titles.head()

ed allo schema (notate che con head() alcune delle colonne, per problemi di spazio, non compaiono)

In [ ]:
netflix_titles.info()

### Carico i dati di Disney+

In [ ]:
disney_titles = pd.read_csv("disney_titles.csv")

In [ ]:
disney_titles.head()

In [ ]:
disney_titles.info()

Come abbiamo visto, i due dataset hanno molte colonne in comune, ma anche alcune differenze.

Proviamo comunque ad integrare le due tabelle, creandone una terza che metta insieme i dati della prima e quelli della seconda. 

**tip**
Dovete "concatenare" i due dataFrame di pandas. 

Provate a cercare la funzione corretta e scrivete il codice necessario.

In [ ]:
# ... completare qui ...

Adesso, stampiamo un po' di informazioni sul dataset integrato (come ad esempio le dimensioni) e diamo un'occhiata allo schema.

In [ ]:
# ... completare qui ...

Nonostante le differenze tra le due tabelle, la funzione concat concatena le due tabelle, mettendo a Null i valori delle colonne presenti solo in una delle due ed in corrispondenza delle righe provenienti dal dataset in cui la colonna non è presente. Proviamo a verificare la presenza di Null

In [ ]:
# ... completare qui ...

Ad esempio la colonna **listed_in**, che è presente solo in netflix_titles, ha 1070 valori Null, che corrisponde al numero di righe della tabella disney_titles.

Decidiamo di eliminare eventuali colonne non comuni. Possiamo farlo **prima** dell'integrazione, oppure direttamente sulla tabella concatenata.

**Tip**: confrontate i due schemi per capire quali siano le colonne non comuni. Attenzione!!! Potrebbero anche esserci colonne che sembrano non comuni, ma in realtà contengono la stessa tipologia di informazione e hanno solo nomi diversi!!

In [ ]:
# ... completare qui ...

Andiamo ora alla ricerca di eventuali colonne che contengono la stessa informazione. Guardate in particolare (type, show_type),  (contry, production_countries), (date_added, from)

In [ ]:
# ...completare qui ...

Infine, ci sono colonne che già ora possiamo giudicare inutili?

per buttare via una colonna, usiamo la funzione drop di pandas

In [ ]:
# ...completare qui ...

### Carichiamo altre due tabelle, che forniscono fonti di informazioni aggiuntive

In [ ]:
netflix_credits = pd.read_csv("netflix_credits.csv")
disney_credits = pd.read_csv("disney_credits.csv")

come sempre, stampiamo le prime righe di ciascun dataFrame

In [ ]:
netflix_credits.head()

In [ ]:
disney_credits.head()

Possiamo osservare che le tabelle credits e titles, hanno informazioni complementari.  In particolare, credits riporta delle informazinoi aggiuntive riguardanti attori e carattere interpretato.

Come prima, procediamo con l'integrazione delle due tabelle, che questa volta è più facile (lo schema è proprio lo stesso!)

In [ ]:
#completare qui

Data la complementarietà delle informazioni che troviamo nelle cartelle titles e credits, possiamo decidere di fare un **join** tra le due tabelle, per includere tutte le informazioni in un unico dataset.

In [ ]:
# ...completare qui usando la funzione merge per fare il join

verifichiamo cosa sia successo guardando le dimensioni di ciascun dataframe

In [ ]:
#completare qui

vi tornano le dimensioni?

In [ ]:
final_table.head()

In [ ]:
print(final_table.columns)

e visualizziamo gli eventuali elementi mancanti

In [ ]:
final_table.isnull().sum()

concentriamoci sulla colonna date_added, intanto visualizzandola:

In [ ]:
#completare qui

vediamo che giorni mesi e anni sono presenti. Potrebbe essere utile, però, separare queste informazioni, incorporandole in tre colonne diverse.

Facciamolo insieme, con due diversi passi:

1. dobbiamo trasformare questa colonna in formato 'datetime' utilizzando la funzione di pandas 'to_datetime'

In [ ]:
#completare qui

In [ ]:
print(final_table['date_added'])

poi, possiamo separare le varie entrate in tre nuove colonne, che si chiameranno day, month e year. Bisogna fare colonna.dt.year e cambiare poi l'ultimo metodo

In [ ]:
#completare qui

ora visualizziamo il risultato

In [ ]:
final_table.head()

ora creiamo una copia della tabella, contenente soltanto i film.

In [ ]:
#completare qui

a questo punto, possiamo modificare la durata in ore, per prima cosa eliminiamo la parola minuti

In [ ]:
#completare qui

quindi dividere per 60 (dopo conversione float)

In [ ]:
#completare qui

e finalmente, aggiungere un suffisso per indicare le ore, per esempio 'hours', tornando a stringa

In [ ]:
#completare qui

stampiamo il risultato finale

In [ ]:
print(movies['duration'])

concentriamoci sulla colonna release_year. Innanzitutto eliminiamo le righe dove questa informazinoe non sia presente. Usiamo la funzione dropna di pandas 
dropna(axis = , subset = [nome colonna])

In [ ]:
#completare qui

In [ ]:
final_table_clean.isnull().sum()